body {
  margin: 0;
  background: #ecf2f8;
  align-content: center;
  height: 100vh;
  width: 100vw;
}
/* fonts */
.h3-font {
  color: #48556a;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.2px;
}
.p-font {
  color: #6e8098;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.122px;
}
.michele-font {
  margin: 0;
  color: #48556a;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.122px;
}
.date-font {
  color: #9daec2;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.122px;
}
.share-font {
  color: #9daec2;
  font-family: Manrope;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.846% */
  letter-spacing: 5px;
}
@media (min-width: 1200px) {
  .h3-font {
    color: #48556a;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: 0.25px;
  }
  .p-font {
    color: #6e8098;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 153.846% */
    letter-spacing: 0.122px;
  }
}
